<div class="container">
	<br>
	<div class="main-content">
		<div class="row">

			<div class="col-sm-12" style="margin:10px;">
				<br>

				{{paper-input class="" maxlength=256 label="Name" value=post onChange=(action (mut post)) style="width:100%"}}
				<br>
				<p>{{input valueBinding='file' type='file' id='file-field'}} <img src="{{model.imageUrl}}" id="preview-image" class="small-image" /></p>

				<button {{action "addPost"}}>Add post</button>
			</div>
		</div>
	</div>
	<br>
	{{#each model as |item|}}
	<div class="main-content">
		<div class="row">
			<div class="col-sm-8"><span class="post">{{{item.content}}}</span></div>
			<div class="col-sm-2">#votes </div>
			<div class="col-sm-2"></div>
			<hr>
			<div class="col-sm-8"><small class="post">Posted by: {{item.author}}</small></div>
			<div class="col-sm-2">+  -</div>
			<div class="col-sm-2">{{item.votes}}</div>
			<img src="{{model.imageUrl}}" class="small-image" />
		</div>
	</div>
	<br>

	<br>
	{{/each}}
	{{yield}}
</div>
