<div  style="" class="container">
  <div class="content" style="">

    <div class="container" style="width:100%;">

      <div class="content-image circle">

      </div>
      <div class="content-text">
        {{post.text}}
      </div>
    </div>
  </div>
  <div class="votes">
    {{post.votes}}

  </div>
  <div class="up-button">
    {{#if post.upvoted}}
    {{else}}
    {{/if}}
    <button {{action "upvote" post.id}}>{{paper-icon "arrow-upward" size=18 }}</button>

  </div>
  <div class="down-button">
    {{#if post.downvoted}}
    {{else}}
    {{/if}}
    <button {{action "downvote" post.id}}>{{paper-icon "arrow-downward" size=18}} </button>

  </div>
  <div class="comments">
    {{#link-to "post" post.id }}
    <span class="comment-text">{{post.comments.length}}
    </span>
    <span class="comment-icon">{{paper-icon "chat-bubble-outline" size=18}}</span>
    {{/link-to}}

  </div>
  <div class="follow">
    Follow
  </div>
  <div class="post-age">
    <span style="color:grey;" class="post-date">{{moment-from-now post.date }}</span>
  </div>
</div>
{{#if isPostRoute}}
<br>
<div style="">
  <form {{action 'saveComment' post.comment index on='submit'}} class="form-inline">
    <div class="full-width comment-input">
      {{input value=(mut post.comment)  class="full-width comment-input" placeholder="Post comment"}}
    </div>
  </form>
</div>
{{/if}}
{{#if notPostRoute}}
<div clas="text-center">
<hr class="post">
</div>
{{/if}}
