<div  style="" class="container">
  <div class="content" style="">
    <span style="color:grey;" class="post-date">{{moment-from-now post.date }}</span><br>
    {{post.text}}
  </div>
  <div class="votes">
    {{post.votes}}
  </div>
  <div class="up-button">
    {{#if post.upvoted}}
    {{else}}
      <button {{action "upvote" post.id}}>{{paper-icon "arrow-upward" size=18 }}</button>
    {{/if}}
  </div>
  <div class="down-button">
    {{#if post.downvoted}}
    {{else}}
        <button {{action "downvote" post.id}}>{{paper-icon "arrow-downward" size=18}} </button>
    {{/if}}
  </div>
  <span class=" comments">
    {{#link-to "post" post.id }}
    <span class="comment-text">{{post.comments.length}}
    </span>
    <span class="comment-icon">{{paper-icon "chat-bubble-outline" size=18}}</span>
    {{/link-to}}

  </span>
</div>
{{#if isPostRoute}}
<br>
<div style="">
  <form {{action 'saveComment' post.comment index on='submit'}} class="form-inline">
    <div class="full-width comment-input">
      {{input value=(mut post.comment)  class="full-width comment-input" placeholder="Post comment"}}
    </div>
  </form>
</div>
{{/if}}
{{#if notPostRoute}}
<hr class="post">
{{/if}}
